*{
  margin: 0;
  padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Merriweather+Sans:ital,wght@0,500;1,400&family=Roboto+Mono:wght@300&display=swap');

/* Navigation Bar */
.mobile-nav, .menu-btn, .close-btn{
  display: none;
}

nav{
  background-color: rgba(0, 0, 0, 0.659);
  display: flex;
  height: 5vh;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  z-index:200;
  top: 0;
  right: 0;
  left: 0;
  padding: 16px;
  margin: 0 auto;
  max-width: 100vw;
  color: whitesmoke

}

.desktop-nav{
  display: flex;
  list-style: none;
  
}

.desktop-nav li{
  margin-right: 20px
}

.desktop-nav li a{
  text-decoration: none;
  color: whitesmoke;
  font-size: 20px;
  font-family: 'Roboto Mono', monospace;
}

.logo a{
  color: whitesmoke;
  text-decoration: none;
  font-family: 'Dancing Script', cursive;
  font-size: 25px;
}

/* Header Section */
header{
  background-color: rgba(106, 231, 248, 0.927);
  /* background-image: url("https://unsplash.it/2000/700"); */
  display: flex;
  justify-content: space-around;
  height: 70vh;
  align-items: center;
}

.links{
  margin-top: 25px;
}

.links a{
  text-decoration: none;
  background-color: rgba(50, 50, 50, 0);
  padding: 8px;
  border-radius: 5px;
  border-color:rgb(38, 38, 38);
  border-width: 3px;
}

.links i{
  color: rgb(33, 33, 33);
}

.intro h1{
  font-family: 'Merriweather Sans', sans-serif;
}

.intro h1 span{
  color: darkblue;
}

/* Responsiveness Mobile */

@media (max-width:450px) {

  .desktop-nav {
    display: none;
  }

  .menu-btn, .close-btn {
    display: block;
    font-size:24px;
    cursor:pointer;
  }
  
  .close-btn {
    display: none;
    z-index: 1000;
  }

  .mobile-nav {
    display: flex;
    position: fixed;
    height:100%;
    width:100%;
    top:500px;
    left:0;
    align-items: center;
    justify-content: center;
    background:rgba(0, 0, 0, 0.853);
    flex-direction: column;
    padding:0;
    pointer-events: none;
    opacity: 0;
    transition: all .4s;
  }

  
}